.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px 20px 20px;
}

.form__field{
    flex-grow: 1;
    padding: 10px;
    outline: 1px solid #eeeeee;
    border: 1px solid #eeeeee;
    color: #878787;
    margin: 10px 20px 0 0;
}

@media (max-width: 767px) {
    .form__field {
        margin-right: 0px;
    }
}

.form__field:focus {
    border: 2px solid black;
    border-radius: 3px;
}

.form__button {
    background-color: #007382;
    color: #ffffff;
    padding: 10px;
    border: none;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .form__button {
        width: 100%;
    }
}