.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

@media (max-width: 767px) {
    .form {
        display: flex;
        flex-direction: column;
    }
}

.form__field{
    flex-grow: 1;
    padding: 10px;
    color: black;
    margin: 0 20px 0 0;
}

@media (max-width: 767px) {
    .form__field {
        width: 100%;
        margin-right: 0px;
    }
}

.form__field:focus {
    border: 2px solid black;
    border-radius: 3px;
}

.form__button {
    background-color: #007382;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.form__button:active {
    border: 1px solid black;
}

@media (max-width: 767px) {
    .form__button {
        width: 100%;
    }
}