html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #eeeeee;
    font-family: Montserrat, sans-serif;
    word-break: break-word;
    max-width: 900px;
}